<h1>
    {% if isNew %}
        Yangi foydalanuvchi ro'yxatdan o'tdi
    {% else %}
        Yangi o'quvchi kursga yozildi
    {% endif %}
</h1>

<p>
    {% if isNew %}
    <strong>Foydalanuvchi:</strong> {{ name }},<br />
    {% else %}
    <strong>Arizachi:</strong> {{ name }},<br />
    {% endif %}

    <strong>Yoshi:</strong> {{ age }},<br />
    <strong>Telefon raqami:</strong> {{ telephone }},<br />
    <strong>Email manzili:</strong> {{ email_address }},<br />
    <strong>Telegram raqami:</strong> {{ telegramNumber }},<br />
    <strong>Manzili:</strong> {{ telephone }},<br />

    {% if isNew == false %}
    <strong>Tanlagan yo'nalishi:</strong> {{ courseName }}
    {% endif %}
</p>